.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0b090a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.neon {
  color: #fff;
  text-shadow: 0 0 5px #6fc3df, 0 0 10px #6fc3df;
  background-color: #0b090a;
}

.neonIcon {
  color: #fff;
  filter: drop-shadow(0px 0px 4px #6fc3df);
}

.neonOrange {
  color: #fff;
  text-shadow: 0 0 5px #df740c, 0 0 10px #df740c;
  background-color: #0b090a;
}

.neonButton {
  color: #fff;
  text-shadow: 0 0 5px #6fc3df, 0 0 10px #6fc3df;
  background-color: #0b090a;
  border: 2px solid #6fc3df;
  font-size: 20px;
  border-radius: 8px;
  width: 200px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 0 5px #6fc3df;
}

.neonButtonOrange {
  color: #fff;
  text-shadow: 0 0 5px #df740c, 0 0 10px #df740c;
  background-color: #0b090a;
  border: 2px solid #df740c;
  font-size: 20px;
  border-radius: 8px;
  width: 200px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 0 5px #df740c;
}

.progress {
  margin: 30px;
  width: 700px;
  margin-bottom: 200px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
